python-telegram-bot
singleton_decorator
sqlalchemy
python-dotenv
logtail-python
loguru
openai
pytz
google-auth>=2.0.0
google-auth-oauthlib>=0.5.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.0.0
matplotlib
python-telegram-bot[job-queue,rate-limiter]
flask[async]
aiohttp
flask
requests
alembic
psycopg2-binary
driver
dataclasses_json
redis
tenacity