fastapi
uvicorn[standard]
sqlalchemy
alembic
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-secret-manager
openai
redis
aiohttp
pydantic
python-multipart
singleton_decorator
pytz
logtail-python
loguru
matplotlib
dataclasses_json
driver
apscheduler
